body {
    background-color: whitesmoke;
    
    font-family: "Halvetica Neue", sans-serif;
}

.container {
    margin: 0 50px;
}

.navbar {
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;

}

.hero {
    width:100%;
    /* margin-top: -100px;  */
    padding:0;
    
}

.hero-video {
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    margin-bottom: 30px;
}

.info-section {
     position: absolute;
     margin-left: 50px;
     margin-top: 30%;
     width: 600px;
}

.movie-section {
    display: flex;
}

.hero-blurb {
    color:#fff
}

.button-section {
    display:flex;
}

.button-play{
    border-radius: 10px;
    background-color: #fff;
    color:black;
    padding:10 px 20px;
    margin: 3px;
}

.more-info{
    background-color: #fff;
}


.card {
    width: 200px;
    border-radius: 5px;
    margin: 2px;
    transition: transform 500ms;
    position: relative;
    display: block;
}

video {
    width: 100%;
    border-radius: 5px;
}

.more-button {
    background-color: grey;
    height: 100px;
    display: flex;
    padding: 40px 10px;
    border-radius: 0 10px 10px 0;
    
}

.more-button:hover{
    background-color: lightgrey;
}

.page-end{
    width: 100%;
    height: 100px;
    background-color: grey;
}

ul{
    display:flex;
    list-style-type: none;
}

li{
    margin: 0 10px;
}